---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="About Our Company | Subnero">
  <div class="max-w-7xl mx-auto px-6 py-20">
    <div class="max-w-3xl mb-16">
      <h1 class="text-4xl font-bold mb-6 text-gray-900">About Us</h1>
      <p class="text-xl text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel laoreet diam. Curabitur eget feugiat massa, fringilla suscipit lorem. Sed convallis suscipit sollicitudin. 
      </p>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestias iure animi. Cum ab deserunt nostrum praesentium molestias nemo, quas dolorem porro assumenda sint natus facere illo sequi in suscipit!</p>
    </div>
  </div>
</BaseLayout>
