---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Our Products | Subnero">
  <div class="max-w-7xl mx-auto px-6 py-20">
    <h1 class="text-4xl font-bold mb-8">SWIS Products</h1>
    <p class="text-xl text-gray-600 mb-12">Discover our range of software-defined modems and underwater networking equipment.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus delectus et asperiores aspernatur, alias itaque quis ipsam, ad odit earum corrupti quos ducimus quaerat ut excepturi sed? Omnis, officia itaque.</p>
  </div>
</BaseLayout>
